/* src/index.css 등 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TmoneyRoundWind";
    src: url("./assets/fonts/TmoneyRoundWindRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TmoneyRoundWind";
    src: url("./assets/fonts/TmoneyRoundWindExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}